@{
    Layout = "_BlankLayout";
    ViewData["Title"] = "Parolamı Unuttum - PazarCep";
}

@section PageStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/page-auth.css">
}

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">

            <div class="card px-sm-6 px-0">
                <div class="card-body">

                    <!-- Logo -->
                    <div class="app-brand justify-content-center mb-6">
                        <a href="/" class="app-brand-link gap-2">
                            <span class="app-brand-logo demo">@await Html.PartialAsync("../_Partials/_Macros")</span>
                            <span class="app-brand-text demo text-heading fw-bold">@TempData.Peek("appName")</span>
                        </a>
                    </div>

                    <h4 class="mb-1">Parolanızı mı unuttunuz? 🔒</h4>
                    <p class="mb-6">
                        E-posta adresinizi girin, parola sıfırlama talimatlarını size gönderelim.
                    </p>

                    <form id="formAuthentication" class="mb-6" action="/" method="POST">
                        <div class="mb-6">
                            <label for="email" class="form-label">E-posta Adresi</label>
                            <input type="text"
                                   class="form-control"
                                   id="email"
                                   name="email"
                                   placeholder="E-posta adresinizi girin"
                                   autofocus />
                        </div>
                        <button class="btn btn-primary d-grid w-100">Sıfırlama Bağlantısı Gönder</button>
                    </form>

                    <div class="text-center">
                        <a href="~/Auth/LoginBasic" class="d-flex justify-content-center">
                            <i class="icon-base bx bx-chevron-left me-1"></i>
                            Giriş sayfasına dön
                        </a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
