@{
    ViewData["Title"] = "Müşteri - Adres Faturalandırma";
}
<h4 class="mb-3">Müşteri Bilgileri • Adres Faturalandırma</h4>
<div class="card">
    <div class="card-body">
        Müşteri Id: <strong>@ViewBag.MusteriId</strong>
    </div>
</div>
