@{
    ViewData["Title"] = "Metin Ayırıcı (Text Divider) - Gelişmiş Arayüz";
}

@* ************** İçerik ************** *@
<div class="row gy-6">
    <!-- Basic -->
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">Temel</h5>
            <div class="card-body">
                <div class="divider">
                    <div class="divider-text">Metin</div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Basic -->
    <!-- Text Alignment -->
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">Hizalama</h5>
            <div class="card-body">
                <div class="divider text-start">
                    <div class="divider-text">Başlangıç</div>
                </div>
                <div class="divider text-start-center">
                    <div class="divider-text">Başlangıç-Orta</div>
                </div>
                <div class="divider">
                    <div class="divider-text">Orta (Varsayılan)</div>
                </div>
                <div class="divider text-end-center">
                    <div class="divider-text">Bitiş-Orta</div>
                </div>
                <div class="divider text-end">
                    <div class="divider-text">Bitiş</div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Text Alignment -->
    <!-- Divider Colors -->
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">Renkler</h5>
            <div class="card-body">
                <div class="divider divider-primary">
                    <div class="divider-text">Birincil</div>
                </div>
                <div class="divider divider-success">
                    <div class="divider-text">Başarılı</div>
                </div>
                <div class="divider divider-danger">
                    <div class="divider-text">Tehlike</div>
                </div>
                <div class="divider divider-warning">
                    <div class="divider-text">Uyarı</div>
                </div>
                <div class="divider divider-info">
                    <div class="divider-text">Bilgi</div>
                </div>
                <div class="divider divider-dark">
                    <div class="divider-text">Koyu</div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Divider Colors -->
    <!-- Icons -->
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">Simgeler</h5>
            <div class="card-body">
                <div class="divider text-start">
                    <div class="divider-text">
                        <i class="icon-base bx bx-sun align-middle"></i>
                    </div>
                </div>
                <div class="divider text-start-center">
                    <div class="divider-text">
                        <i class="icon-base bx bx-crown align-middle"></i>
                    </div>
                </div>
                <div class="divider">
                    <div class="divider-text">
                        <i class="icon-base bx bx-star align-middle"></i>
                    </div>
                </div>
                <div class="divider text-end-center">
                    <div class="divider-text">
                        <i class="icon-base bx bx-coffee-togo align-middle"></i>
                    </div>
                </div>
                <div class="divider text-end">
                    <div class="divider-text">
                        <i class="icon-base bx bx-cut rotate-180 align-middle"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Icons -->
    <!-- Styles -->
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">Stiller</h5>
            <div class="card-body">
                <div class="divider">
                    <div class="divider-text">Düz (Varsayılan)</div>
                </div>
                <div class="divider divider-dotted">
                    <div class="divider-text">Noktalı</div>
                </div>
                <div class="divider divider-dashed">
                    <div class="divider-text">Kesik</div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Styles -->
</div>
