@{
    ViewData["Title"] = "Kapsayıcı Düzen - Düzenler";
}

@* ************** Content ************** *@
<!-- Layout Demo -->
<div class="layout-demo-wrapper">
    <div class="layout-demo-placeholder">
        <img src="~/img/layouts/layout-container-light.png" class="img-fluid" alt="Kapsayıcı düzen">
    </div>
    <div class="layout-demo-info">
        <h4>Kapsayıcı Düzen</h4>
        <p>
            Kapsayıcı düzen, her duyarlı kırılım noktasında
            <code>max-width</code> değeri belirleyerek içeriği ortalar.
        </p>
    </div>
</div>
<!--/ Layout Demo -->
