@{
    ViewData["Title"] = "Akışkan Düzen - Düzenler";
    ViewData["container"] = (ViewData["container"] ?? "container-fluid");
    ViewData["containerNav"] = (ViewData["containerNav"] ?? "container-fluid");
}

@* ************** Content ************** *@
<!-- Layout Demo -->
<div class="layout-demo-wrapper">
    <div class="layout-demo-placeholder">
        <img src="~/img/layouts/layout-fluid-light.png" class="img-fluid" alt="Akışkan düzen" />
    </div>
    <div class="layout-demo-info">
        <h4>Akışkan Düzen</h4>
        <p>
            Akışkan düzen, her duyarlı kırılım noktasında
            <code>%100 genişlik</code> kullanır.
        </p>
    </div>
</div>
<!--/ Layout Demo -->
