@{
    ViewData["Title"] = "Menüsüz Düzen - Düzenler";
    ViewData["navbarHideToggle"] = true;
    ViewData["isMenu"] = false;
    ViewData["menuFixed"] = "";
}

@* ************** Content ************** *@
<!-- Layout Demo -->
<div class="layout-demo-wrapper">
    <div class="layout-demo-placeholder">
        <img src="~/img/layouts/layout-without-menu-light.png" class="img-fluid" alt="Menüsüz düzen" />
    </div>
    <div class="layout-demo-info">
        <h4>Yan Menü (Navigasyon) Olmadan Düzen</h4>
        <button class="btn btn-primary" type="button" onclick="history.back()">Geri Dön</button>
    </div>
</div>
<!--/ Layout Demo -->
