@{
    ViewData["Title"] = "Uyarılar - Arayüz öğeleri";
}
@* ************** Content ************** *@
<div class="row g-6 mb-6">
    <!-- Temel Uyarılar -->
    <div class="col-md">
        <div class="card">
            <h5 class="card-header">Temel Uyarılar</h5>
            <div class="card-body">
                <div class="alert alert-primary" role="alert">Bu bir birincil (primary) uyarıdır — göz atın!</div>

                <div class="alert alert-secondary" role="alert">Bu bir ikincil (secondary) uyarıdır — göz atın!</div>

                <div class="alert alert-success" role="alert">Bu bir başarılı (success) uyarıdır — göz atın!</div>

                <div class="alert alert-danger" role="alert">Bu bir hata (danger) uyarıdır — göz atın!</div>

                <div class="alert alert-warning" role="alert">Bu bir uyarı (warning) mesajıdır — göz atın!</div>

                <div class="alert alert-info" role="alert">Bu bir bilgi (info) uyarısıdır — göz atın!</div>

                <div class="alert alert-dark mb-0" role="alert">Bu bir koyu (dark) uyarıdır — göz atın!</div>
            </div>
        </div>
    </div>
    <!--/ Temel Uyarılar -->
    <!-- Kapatılabilir Uyarılar -->
    <div class="col-md">
        <div class="card">
            <h5 class="card-header">Kapatılabilir Uyarılar</h5>
            <div class="card-body">
                <div class="alert alert-primary alert-dismissible" role="alert">
                    Bu bir birincil kapatılabilir uyarıdır — göz atın!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Kapat"></button>
                </div>

                <div class="alert alert-secondary alert-dismissible" role="alert">
                    Bu bir ikincil kapatılabilir uyarıdır — göz atın!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Kapat"></button>
                </div>

                <div class="alert alert-success alert-dismissible" role="alert">
                    Bu bir başarılı kapatılabilir uyarıdır — göz atın!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Kapat"></button>
                </div>

                <div class="alert alert-danger alert-dismissible" role="alert">
                    Bu bir hata kapatılabilir uyarıdır — göz atın!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Kapat"></button>
                </div>

                <div class="alert alert-warning alert-dismissible" role="alert">
                    Bu bir uyarı kapatılabilir uyarıdır — göz atın!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Kapat"></button>
                </div>

                <div class="alert alert-info alert-dismissible" role="alert">
                    Bu bir bilgi kapatılabilir uyarısıdır — göz atın!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Kapat"></button>
                </div>

                <div class="alert alert-dark alert-dismissible mb-0" role="alert">
                    Bu bir koyu kapatılabilir uyarıdır — göz atın!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Kapat"></button>
                </div>
            </div>
        </div>
    </div>
    <!--/ Kapatılabilir Uyarılar -->
</div>
