@{
    ViewData["Title"] = "Rozetler - Arayüz öğeleri";
}
@* ************** Content ************** *@
<div class="row g-6">
    <!-- Temel Rozetler -->
    <div class="col-lg-6">
        <div class="card">
            <h5 class="card-header">Temel Rozetler</h5>
            <div class="card-body">
                <div class="small fw-medium">Varsayılan</div>
                <div class="demo-inline-spacing">
                    <span class="badge text-bg-primary">Birincil</span>
                    <span class="badge text-bg-secondary">İkincil</span>
                    <span class="badge text-bg-success">Başarılı</span>
                    <span class="badge text-bg-danger">Hata</span>
                    <span class="badge text-bg-warning">Uyarı</span>
                    <span class="badge text-bg-info">Bilgi</span>
                    <span class="badge text-bg-dark">Koyu</span>
                </div>
            </div>
            <hr class="m-0" />
            <div class="card-body">
                <div class="small fw-medium">Oval (Pill)</div>

                <div class="demo-inline-spacing">
                    <span class="badge rounded-pill text-bg-primary">Birincil</span>
                    <span class="badge rounded-pill text-bg-secondary">İkincil</span>
                    <span class="badge rounded-pill text-bg-success">Başarılı</span>
                    <span class="badge rounded-pill text-bg-danger">Hata</span>
                    <span class="badge rounded-pill text-bg-warning">Uyarı</span>
                    <span class="badge rounded-pill text-bg-info">Bilgi</span>
                    <span class="badge rounded-pill text-bg-dark">Koyu</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Etiket Rozetler -->
    <div class="col-lg-6">
        <div class="card">
            <h5 class="card-header">Etiket Rozetler</h5>
            <div class="card-body">
                <div class="small fw-medium">Etiket Varsayılan</div>

                <div class="demo-inline-spacing">
                    <span class="badge bg-label-primary">Birincil</span>
                    <span class="badge bg-label-secondary">İkincil</span>
                    <span class="badge bg-label-success">Başarılı</span>
                    <span class="badge bg-label-danger">Hata</span>
                    <span class="badge bg-label-warning">Uyarı</span>
                    <span class="badge bg-label-info">Bilgi</span>
                    <span class="badge bg-label-dark">Koyu</span>
                </div>
            </div>
            <hr class="m-0" />
            <div class="card-body">
                <div class="small fw-medium">Etiket Oval (Pill)</div>

                <div class="demo-inline-spacing">
                    <span class="badge rounded-pill bg-label-primary">Birincil</span>
                    <span class="badge rounded-pill bg-label-secondary">İkincil</span>
                    <span class="badge rounded-pill bg-label-success">Başarılı</span>
                    <span class="badge rounded-pill bg-label-danger">Hata</span>
                    <span class="badge rounded-pill bg-label-warning">Uyarı</span>
                    <span class="badge rounded-pill bg-label-info">Bilgi</span>
                    <span class="badge rounded-pill bg-label-dark">Koyu</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Rozetli Butonlar -->
    <div class="col-lg">
        <div class="card">
            <h5 class="card-header">Rozetli Butonlar</h5>
            <div class="card-body">
                <div class="row gy-3">
                    <div class="col-sm-4">
                        <small class="fw-medium">Varsayılan</small>
                        <div class="demo-inline-spacing">
                            <button type="button" class="btn btn-primary">
                                Metin
                                <span class="badge bg-white text-primary ms-1">4</span>
                            </button>
                            <button type="button" class="btn btn-secondary">
                                Metin
                                <span class="badge bg-white text-secondary rounded-pill ms-1">4</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <small class="fw-medium">Konturlu</small>
                        <div class="demo-inline-spacing">
                            <button type="button" class="btn btn-outline-primary">
                                Metin
                                <span class="badge ms-1">4</span>
                            </button>
                            <button type="button" class="btn btn-outline-secondary">
                                Metin
                                <span class="badge rounded-pill ms-1">4</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Daire & Kare Rozet Stili -->
    <div class="col-12">
        <div class="card">
            <h5 class="card-header">Daire & Kare Rozet Stili</h5>
            <div class="card-body">
                <div class="row gy-6">
                    <div class="col-xl-6">
                        <h6>Temel</h6>
                        <div class="small fw-medium mb-2">Varsayılan</div>
                        <div class="demo-inline-spacing">
                            <p>
                                <span class="badge badge-center rounded-pill text-bg-primary">1</span>
                                <span class="badge badge-center rounded-pill text-bg-secondary">2</span>
                                <span class="badge badge-center rounded-pill text-bg-success">3</span>
                                <span class="badge badge-center rounded-pill text-bg-danger">4</span>
                                <span class="badge badge-center rounded-pill text-bg-warning">5</span>
                                <span class="badge badge-center rounded-pill text-bg-info">6</span>
                            </p>
                            <p>
                                <span class="badge badge-center text-bg-primary">1</span>
                                <span class="badge badge-center text-bg-secondary">2</span>
                                <span class="badge badge-center text-bg-success">3</span>
                                <span class="badge badge-center text-bg-danger">4</span>
                                <span class="badge badge-center text-bg-warning">5</span>
                                <span class="badge badge-center text-bg-info">6</span>
                            </p>
                        </div>
                    </div>

                    <div class="col-xl-6">
                        <h6>Etiket</h6>
                        <div class="small fw-medium mb-2">Varsayılan</div>
                        <div class="demo-inline-spacing">
                            <p>
                                <span class="badge badge-center rounded-pill bg-label-primary">1</span>
                                <span class="badge badge-center rounded-pill bg-label-secondary">2</span>
                                <span class="badge badge-center rounded-pill bg-label-success">3</span>
                                <span class="badge badge-center rounded-pill bg-label-danger">4</span>
                                <span class="badge badge-center rounded-pill bg-label-warning">5</span>
                                <span class="badge badge-center rounded-pill bg-label-info">6</span>
                            </p>
                            <p>
                                <span class="badge badge-center bg-label-primary">1</span>
                                <span class="badge badge-center bg-label-secondary">2</span>
                                <span class="badge badge-center bg-label-success">3</span>
                                <span class="badge badge-center bg-label-danger">4</span>
                                <span class="badge badge-center bg-label-warning">5</span>
                                <span class="badge badge-center bg-label-info">6</span>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
