@{
    ViewData["Title"] = "Genişlet/Gizle (Collapse) - Arayüz öğeleri";
}
@* ************** İçerik ************** *@
<!-- Genişlet/Gizle (Collapse) -->
<h5>Genişlet/Gizle (Collapse)</h5>
<div class="row g-6">
    <div class="col-12">
        <div class="card">
            <h5 class="card-header">Temel</h5>
            <div class="card-body">
                <p class="card-text">
                    Projenizde belirli sınıflar ve JavaScript eklentilerimizi kullanarak içerik görünürlüğünü açıp kapatabilirsiniz.
                </p>
                <p class="demo-inline-spacing">
                    <a class="btn btn-primary me-1" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        href ile bağlantı
                    </a>
                    <button class="btn btn-primary me-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        data-bs-target ile buton
                    </button>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="d-grid d-sm-flex p-4 border">
                        <img src="~/img/elements/1.png" alt="collapse-görseli" height="125" class="me-6 mb-sm-0 mb-2" />
                        <span>
                            Lorem Ipsum, baskı ve dizgi endüstrisinde kullanılan taklit metinlerden biridir. 1500'lü yıllardan beri geçerliliğini koruyan bu metin; bir dizgicinin hurufatı alıp bir yazı örneği kitabı oluşturmak için karıştırmasıyla ortaya çıkmıştır. Beş yüzyıldan fazla bir süre ayakta kalmış, elektronik dizgiye geçişle birlikte de temelde değişmeden kullanılmıştır. 1960'larda Lorem Ipsum pasajları içeren Letraset sayfalarının yayınlanmasıyla popülerleşmiş, daha sonra da Aldus PageMaker gibi masaüstü yayıncılık yazılımlarında farklı sürümleri yer almıştır. Bir sayfanın düzenine bakarken okunabilir içeriğin dikkat dağıtabileceği bilinen bir gerçektir. Lorem Ipsum kullanmanın amacı, harflerin normal bir dağılıma sahipmiş gibi görünmesini sağlamasıdır.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <h5 class="card-header">Yatay</h5>
            <div class="card-body">
                <p class="card-text">
                    Collapse eklentisi yatay daraltma/genişletmeyi de destekler.<br />
                    Daha detaylı bilgi isterseniz
                    <a href="@TempData.Peek("documentation")/ui-collapse.html#horizontal-collapse" target="_blank">dokümantasyonu</a>
                    inceleyebilirsiniz.
                </p>
                <p class="demo-inline-spacing">
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                        Yatay genişlet/gizle
                    </button>
                </p>
                <div style="min-height: 120px;">
                    <div class="collapse-horizontal collapse show" id="collapseWidthExample">
                        <div class="p-4 border" style="width: 300px;">
                            Lorem Ipsum, baskı ve dizgi endüstrisinde kullanılan taklit metinlerden biridir.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <h5 class="card-header">Birden fazla hedef</h5>
            <div class="card-body">
                <p class="card-text">Seçiciler (selector) kullanarak birden fazla öğeyi aynı anda gösterip gizleyebilirsiniz.</p>

                <p class="demo-inline-spacing">
                    <a class="btn btn-primary me-1" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
                        İlk öğeyi aç/kapat
                    </a>
                    <button class="btn btn-primary me-1" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">
                        İkinci öğeyi aç/kapat
                    </button>
                    <button class="btn btn-primary me-1" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">
                        Her iki öğeyi de aç/kapat
                    </button>
                </p>
                <div class="row">
                    <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                        <div class="collapse multi-collapse" id="multiCollapseExample1">
                            <div class="d-grid d-sm-flex p-4 border">
                                <img src="~/img/elements/2.png" alt="collapse-görseli" height="125" class="me-6 mb-sm-0 mb-2" />
                                <span>
                                    İnternetteki tüm Lorem Ipsum oluşturucularının büyük bir kısmı, gerekli olduğunda önceden tanımlanmış pasajları tekrarlar. Gerçekçi görünen Lorem Ipsum oluşturmak için 200'den fazla Latince kelimeden oluşan bir sözlük ve birkaç model cümle yapısı kullanılır.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="collapse multi-collapse" id="multiCollapseExample2">
                            <div class="d-grid d-sm-flex p-4 border">
                                <img src="~/img/elements/3.png" alt="collapse-görseli" height="125" class="me-6 mb-sm-0 mb-2" />
                                <span>
                                    Lorem Ipsum pasajlarının pek çok çeşidi vardır; ancak çoğunluğu bir şekilde değiştirilmiş, şaka eklenmiş ya da rastgeleleştirilmiş kelimeler içerir ve çok da inandırıcı görünmez. Eğer bir Lorem Ipsum pasajı kullanacaksanız, içerisinde saklı utanç verici ifadeler olmadığından emin olmanız gerekir.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
