@{
    ViewData["Title"] = "Açılır menüler (Dropdowns) - Arayüz öğeleri";
}
@* ************** İçerik ************** *@
<div class="card mb-6" id="btn-dropdown-demo">
    <h5 class="card-header">Açılır menüler (Dropdowns)</h5>

    <!-- Temel Açılır Menüler -->
    <div class="card-body">
        <small class="fw-medium">Temel</small>
        <div class="demo-inline-spacing">
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Birincil</button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="javascript:void(0);">İşlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Başka bir işlem</a></li>
                    <li><a class="dropdown-item disabled" href="javascript:void(0);">Burada başka bir şey</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Ayrılmış bağlantı</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">İkincil</button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="javascript:void(0);">İşlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Başka bir işlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Burada başka bir şey</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Ayrılmış bağlantı</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Başarılı</button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="javascript:void(0);">İşlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Başka bir işlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Burada başka bir şey</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Ayrılmış bağlantı</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Tehlike</button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="javascript:void(0);">İşlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Başka bir işlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Burada başka bir şey</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Ayrılmış bağlantı</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Uyarı</button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="javascript:void(0);">İşlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Başka bir işlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Burada başka bir şey</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Ayrılmış bağlantı</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Bilgi</button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="javascript:void(0);">İşlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Başka bir işlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Burada başka bir şey</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Ayrılmış bağlantı</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--/ Temel Açılır Menüler -->

    <hr class="m-0" />

    <!-- Çerçeveli (Outline) Açılır Menüler -->
    <div class="card-body">
        <small class="fw-medium">Çerçeveli (Outline)</small>
        <div class="demo-inline-spacing">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Birincil</button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="javascript:void(0);">İşlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Başka bir işlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Burada başka bir şey</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Ayrılmış bağlantı</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">İkincil</button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="javascript:void(0);">İşlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Başka bir işlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Burada başka bir şey</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Ayrılmış bağlantı</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Başarılı</button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="javascript:void(0);">İşlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Başka bir işlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Burada başka bir şey</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Ayrılmış bağlantı</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-outline-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Tehlike</button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="javascript:void(0);">İşlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Başka bir işlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Burada başka bir şey</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Ayrılmış bağlantı</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-outline-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Uyarı</button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="javascript:void(0);">İşlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Başka bir işlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Burada başka bir şey</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Ayrılmış bağlantı</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-outline-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Bilgi</button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="javascript:void(0);">İşlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Başka bir işlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Burada başka bir şey</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Ayrılmış bağlantı</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--/ Çerçeveli (Outline) Açılır Menüler -->
    <hr class="m-0" />

    <!-- Bölünmüş (Split) Açılır Menüler -->
    <div class="card-body">
        <small class="fw-medium">Bölünmüş (Split)</small>
        <div class="demo-inline-spacing">
            <div class="btn-group">
                <button type="button" class="btn btn-primary">Birincil</button>
                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Açılır menüyü aç/kapat</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="javascript:void(0);">İşlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Başka bir işlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Burada başka bir şey</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Ayrılmış bağlantı</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-secondary">İkincil</button>
                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Açılır menüyü aç/kapat</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="javascript:void(0);">İşlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Başka bir işlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Burada başka bir şey</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Ayrılmış bağlantı</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-success">Başarılı</button>
                <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Açılır menüyü aç/kapat</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="javascript:void(0);">İşlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Başka bir işlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Burada başka bir şey</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Ayrılmış bağlantı</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-danger">Tehlike</button>
                <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Açılır menüyü aç/kapat</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="javascript:void(0);">İşlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Başka bir işlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Burada başka bir şey</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Ayrılmış bağlantı</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-warning">Uyarı</button>
                <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Açılır menüyü aç/kapat</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="javascript:void(0);">İşlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Başka bir işlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Burada başka bir şey</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Ayrılmış bağlantı</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-info">Bilgi</button>
                <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Açılır menüyü aç/kapat</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="javascript:void(0);">İşlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Başka bir işlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Burada başka bir şey</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Ayrılmış bağlantı</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--/ Bölünmüş (Split) Açılır Menüler -->

    <hr class="m-0" />

    <div class="card-body">
        <div class="row gy-3">
            <!-- Ok simgesi gizli Açılır Menüler -->
            <div class="col-lg-3 col-sm-6 col-12">
                <small class="fw-medium">Ok simgesi gizli</small>
                <div class="demo-inline-spacing">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle hide-arrow" data-bs-toggle="dropdown" aria-expanded="false">Ok simgesi gizli</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="javascript:void(0);">İşlem</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Başka bir işlem</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Burada başka bir şey</a></li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Ayrılmış bağlantı</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--/ Ok simgesi gizli Açılır Menüler -->
            <!-- İkonlu Açılır Menü -->
            <div class="col-lg-3 col-sm-6 col-12">
                <small class="fw-medium">İkonlu</small>
                <div class="demo-inline-spacing">
                    <div class="btn-group" id="dropdown-icon-demo">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="icon-base bx bx-menu me-1"></i> İkonlu
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">
                                    <i class="icon-base bx bx-chevron-right"></i>İşlem
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">
                                    <i class="icon-base bx bx-chevron-right"></i>Başka bir işlem
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">
                                    <i class="icon-base bx bx-chevron-right"></i>Burada başka bir şey
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">
                                    <i class="icon-base bx bx-chevron-right"></i>Ayrılmış bağlantı
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--/ İkonlu Açılır Menü -->
            <!-- İkon butonlu Açılır Menü -->
            <div class="col-lg-3 col-sm-6 col-12">
                <small class="fw-medium">İkon Açılır Menüsü</small>
                <div class="demo-inline-spacing">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-icon rounded-pill dropdown-toggle hide-arrow" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="icon-base bx bx-dots-vertical-rounded"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="javascript:void(0);">İşlem</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Başka bir işlem</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Burada başka bir şey</a></li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Ayrılmış bağlantı</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--/ İkon butonlu Açılır Menü -->
        </div>
    </div>
</div>

<!-- Açılır Menü Çeşitleri -->
<div class="card" id="dropdown-variation-demo">
    <h5 class="card-header">Açılır Menü Çeşitleri</h5>

    <!-- Menü Hizalaması -->
    <div class="card-body">
        <small class="fw-medium">Menü Hizalaması</small>
        <div class="demo-inline-spacing">
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle overflow-hidden d-sm-inline-flex d-block text-truncate" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sağa hizalı açılır menü
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><button class="dropdown-item" type="button">İşlem</button></li>
                    <li><button class="dropdown-item" type="button">Başka bir işlem</button></li>
                    <li><button class="dropdown-item" type="button">Burada başka bir şey</button></li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle overflow-hidden d-sm-inline-flex d-block text-truncate" data-bs-toggle="dropdown" data-bs-display="static" aria-haspopup="true" aria-expanded="false">
                    Normalde sola, büyük ekranda sağa hizalı
                </button>
                <ul class="dropdown-menu dropdown-menu-start dropdown-menu-lg-end">
                    <li><button class="dropdown-item" type="button">İşlem</button></li>
                    <li><button class="dropdown-item" type="button">Başka bir işlem</button></li>
                    <li><button class="dropdown-item" type="button">Burada başka bir şey</button></li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle overflow-hidden d-sm-inline-flex d-block text-truncate" data-bs-toggle="dropdown" data-bs-display="static" aria-haspopup="true" aria-expanded="false">
                    Normalde sağa, büyük ekranda sola hizalı
                </button>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                    <li><button class="dropdown-item" type="button">İşlem</button></li>
                    <li><button class="dropdown-item" type="button">Başka bir işlem</button></li>
                    <li><button class="dropdown-item" type="button">Burada başka bir şey</button></li>
                </ul>
            </div>
        </div>
    </div>
    <!--/ Menü Hizalaması -->

    <hr class="m-0" />
    <!-- Açılır Menü Boyutları -->

    <div class="card-body">
        <small class="fw-medium">Boyutlar</small>
        <div class="demo-inline-spacing">
            <div class="btn-group">
                <button class="btn btn-primary btn-xl dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Ekstra büyük buton</button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="javascript:void(0);">İşlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Başka bir işlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Burada başka bir şey</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Ayrılmış bağlantı</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Büyük buton</button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="javascript:void(0);">İşlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Başka bir işlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Burada başka bir şey</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Ayrılmış bağlantı</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Küçük buton</button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="javascript:void(0);">İşlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Başka bir işlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Burada başka bir şey</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Ayrılmış bağlantı</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Ekstra küçük buton</button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="javascript:void(0);">İşlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Başka bir işlem</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Burada başka bir şey</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Ayrılmış bağlantı</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--/ Açılır Menü Boyutları -->

    <hr class="m-0" />
    <div class="card-body">
        <div class="row gy-3">
            <!-- Açılır Menü Yönleri -->
            <div class="col-xl-6">
                <small class="fw-medium">Yönler</small>
                <div class="row">
                    <div class="col-md-6">
                        <div class="demo-inline-spacing">
                            <div class="btn-group">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Açılır menü</button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="javascript:void(0);">İşlem</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0);">Başka bir işlem</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0);">Burada başka bir şey</a></li>
                                    <li>
                                        <hr class="dropdown-divider" />
                                    </li>
                                    <li><a class="dropdown-item" href="javascript:void(0);">Ayrılmış bağlantı</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="demo-inline-spacing">
                            <div class="btn-group dropup">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Yukarı açılır (dropup)</button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="javascript:void(0);">İşlem</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0);">Başka bir işlem</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0);">Burada başka bir şey</a></li>
                                    <li>
                                        <hr class="dropdown-divider" />
                                    </li>
                                    <li><a class="dropdown-item" href="javascript:void(0);">Ayrılmış bağlantı</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="demo-inline-spacing">
                            <div class="btn-group dropend">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sağa açılır (dropend)</button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="javascript:void(0);">İşlem</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0);">Başka bir işlem</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0);">Burada başka bir şey</a></li>
                                    <li>
                                        <hr class="dropdown-divider" />
                                    </li>
                                    <li><a class="dropdown-item" href="javascript:void(0);">Ayrılmış bağlantı</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="demo-inline-spacing">
                            <div class="btn-group dropstart">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Sola açılır (dropstart)</button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="javascript:void(0);">İşlem</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0);">Başka bir işlem</a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0);">Burada başka bir şey</a></li>
                                    <li>
                                        <hr class="dropdown-divider" />
                                    </li>
                                    <li><a class="dropdown-item" href="javascript:void(0);">Ayrılmış bağlantı</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Ortalanmış Açılır Menüler -->
            <div class="col-xl-6">
                <small class="fw-medium">Ortalanmış</small>
                <div class="demo-inline-spacing">
                    <div class="dropdown-center">
                        <button class="btn btn-primary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Yönleri ortalanmış açılır menü
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="javascript:void(0)">İşlem</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)">İkinci işlem</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)">Üçüncü işlem</a></li>
                        </ul>
                    </div>
                </div>
                <div class="demo-inline-spacing">
                    <div class="dropup-center dropup">
                        <button class="btn btn-primary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Yönleri ortalanmış yukarı açılır menü
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="javascript:void(0)">İşlem</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)">İkinci işlem</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)">Üçüncü işlem</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--/ Açılır Menü Yönleri -->
        </div>
    </div>

    <hr class="m-0" />

    <div class="card-body">
        <div class="row gy-3">
            <!-- Açılır Menü İçeriği -->
            <div class="col-xl-12">
                <small class="fw-medium">Menü İçeriği</small>
                <div class="demo-inline-spacing">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Açılır Menü Başlığı</button>
                        <ul class="dropdown-menu">
                            <li>
                                <h6 class="dropdown-header text-uppercase">Açılır menü başlığı</h6>
                            </li>
                            <li><a class="dropdown-item" href="javascript:void(0);">İşlem</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Başka bir işlem</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bölücü</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="javascript:void(0);">İşlem</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Başka bir işlem</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Burada başka bir şey</a></li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li><a class="dropdown-item" href="javascript:void(0);">Ayrılmış bağlantı</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Metin</button>
                        <div class="dropdown-menu">
                            <div class="px-4 py-2 text-body-secondary">
                                <p>Açılır menü içerisinde serbest akan örnek bir metin.</p>
                                <p class="mb-0">Ve bu da ek bir örnek metindir.</p>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">Formlar</button>
                        <div class="dropdown-menu dropdown-menu-end w-px-300">
                            <form class="p-6" onsubmit="return false">
                                <div class="mb-4">
                                    <label for="exampleDropdownFormEmail1" class="form-label">E-posta adresi</label>
                                    <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="eposta&#64;ornek.com" />
                                </div>
                                <div class="mb-4">
                                    <label for="exampleDropdownFormPassword1" class="form-label">Şifre</label>
                                    <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Şifre" />
                                </div>
                                <div class="mb-4">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="dropdownCheck" />
                                        <label class="form-check-label" for="dropdownCheck"> Beni hatırla </label>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary">Giriş yap</button>
                            </form>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0)">Burada yeni misin? Kayıt ol</a>
                            <a class="dropdown-item" href="javascript:void(0)">Şifreni mi unuttun?</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ Açılır Menü İçeriği -->
        </div>
    </div>

    <hr class="m-0" />
    <div class="card-body">
        <div class="row gy-3">
            <!-- Açılır Menü Seçenekleri -->
            <div class="col-xl-6">
                <small class="fw-medium">
                    Seçenekler :
                    <code>data-bs-offset</code> veya <code>data-bs-reference</code> kullanarak açılır menünün konumunu değiştirebilirsiniz.
                </small>
                <div class="demo-inline-spacing">
                    <div class="btn-group me-1">
                        <button type="button" class="btn btn-primary dropdown-toggle" id="dropdownMenuOffset" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="10,20">
                            Ofset
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                            <li><a class="dropdown-item" href="javascript:void(0)">İşlem</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)">Başka bir işlem</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)">Burada başka bir şey</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary">Referans</button>
                        <button type="button"
                                class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                                id="dropdownMenuReference"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                                data-bs-reference="parent">
                            <span class="visually-hidden">Açılır menüyü aç/kapat</span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                            <li><a class="dropdown-item" href="javascript:void(0)">İşlem</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)">Başka bir işlem</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)">Burada başka bir şey</a></li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li><a class="dropdown-item" href="javascript:void(0)">Ayrılmış bağlantı</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--/ Açılır Menü Seçenekleri -->
            <!-- Otomatik Kapanma Davranışı -->
            <div class="col-xl-6">
                <small class="fw-medium">Otomatik kapanma davranışı</small>
                <div class="demo-inline-spacing">
                    <div class="btn-group">
                        <button class="btn btn-primary dropdown-toggle"
                                type="button"
                                id="defaultDropdown"
                                data-bs-toggle="dropdown"
                                data-bs-auto-close="true"
                                aria-expanded="false">
                            Varsayılan
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="defaultDropdown">
                            <li><a class="dropdown-item" href="javascript:void(0)">Menü öğesi</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)">Menü öğesi</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)">Menü öğesi</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-primary dropdown-toggle"
                                type="button"
                                id="dropdownMenuClickableOutside"
                                data-bs-toggle="dropdown"
                                data-bs-auto-close="inside"
                                aria-expanded="false">
                            Dışarı tıklanabilir
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuClickableOutside">
                            <li><a class="dropdown-item" href="javascript:void(0)">Menü öğesi</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)">Menü öğesi</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)">Menü öğesi</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-primary dropdown-toggle"
                                type="button"
                                id="dropdownMenuClickableInside"
                                data-bs-toggle="dropdown"
                                data-bs-auto-close="outside"
                                aria-expanded="false">
                            İçeride tıklanabilir
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuClickableInside">
                            <li><a class="dropdown-item" href="javascript:void(0)">Menü öğesi</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)">Menü öğesi</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)">Menü öğesi</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-primary dropdown-toggle"
                                type="button"
                                id="dropdownMenuClickable"
                                data-bs-toggle="dropdown"
                                data-bs-auto-close="false"
                                aria-expanded="false">
                            Manuel kapatma
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuClickable">
                            <li><a class="dropdown-item" href="javascript:void(0)">Menü öğesi</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)">Menü öğesi</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)">Menü öğesi</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--/ Otomatik Kapanma Davranışı -->
        </div>
    </div>
</div>
<!--/ Açılır Menü Çeşitleri -->
