@{
    ViewData["Title"] = "Gezinme Çubuğu - Arayüz öğeleri";
}

@* ************** İçerik ************** *@
<!-- Temel -->
<h5 class="pb-1 mb-6">Örnek</h5>
<nav class="navbar navbar-expand-lg mb-12 bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)">Gezinme Çubuğu</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Gezinmeyi aç/kapa">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="javascript:void(0)">Ana Sayfa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">Bağlantı</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Açılır Menü </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="javascript:void(0)">İşlem</a></li>
                        <li><a class="dropdown-item" href="javascript:void(0)">Başka işlem</a></li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li><a class="dropdown-item" href="javascript:void(0)">Burada başka bir seçenek</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="javascript:void(0)" tabindex="-1">Devre dışı</a>
                </li>
            </ul>
            <form class="d-flex" onsubmit="return false">
              <input id="navbarSearchInline" name="navbarSearchInline" class="form-control me-2" type="search" placeholder="Ara" aria-label="Ara" />
                <button class="btn btn-outline-primary" type="submit">Ara</button>
            </form>
        </div>
    </div>
</nav>
<!--/ Temel -->
<!-- Desteklenen içerik -->
<h5 class="pb-1 mb-6">Desteklenen içerik</h5>
<div class="mb-12">
    <h6 class="mt-2 mb-4 text-body-secondary">Metin</h6>
    <nav class="navbar navbar-example navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="javascript:void(0)">Gezinme Çubuğu</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-ex-2" aria-controls="navbar-ex-2" aria-expanded="false" aria-label="Gezinmeyi aç/kapa">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-ex-2">
                <div class="navbar-nav me-auto">
                    <a class="nav-item nav-link active" href="javascript:void(0)">Ana Sayfa</a>
                    <a class="nav-item nav-link" href="javascript:void(0)">Hakkında</a>
                    <a class="nav-item nav-link" href="javascript:void(0)">İletişim</a>
                </div>

                <span class="navbar-text">Marshmallow brownie, limonlu şeker ve cheesecake örnek metni.</span>
            </div>
        </div>
    </nav>

    <h6 class="mt-6 mb-4 text-body-secondary">Girdi Grubu</h6>
    <nav class="navbar navbar-example navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="javascript:void(0)">Gezinme Çubuğu</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-ex-4" aria-controls="navbar-ex-4" aria-expanded="false" aria-label="Gezinmeyi aç/kapa">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-ex-4">
                <div class="navbar-nav me-auto">
                    <a class="nav-item nav-link active" href="javascript:void(0)">Ana Sayfa</a>
                    <a class="nav-item nav-link" href="javascript:void(0)">Hakkında</a>
                    <a class="nav-item nav-link" href="javascript:void(0)">İletişim</a>
                </div>

                <form class="d-flex" onsubmit="return false">
                    <div class="input-group">
                        <span class="input-group-text"><i class="icon-base bx bx-search"></i></span>
            <input type="text" id="navbarSearchExpanded" name="navbarSearchExpanded" class="form-control" placeholder="Ara..." aria-label="Navbar araması" />
                    </div>
                </form>
            </div>
        </div>
    </nav>

    <h6 class="mt-6 mb-4 text-body-secondary">Buton</h6>
    <nav class="navbar navbar-example navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="javascript:void(0)">Gezinme Çubuğu</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-ex-3" aria-controls="navbar-ex-3" aria-expanded="false" aria-label="Gezinmeyi aç/kapa">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-ex-3">
                <div class="navbar-nav me-auto">
                    <a class="nav-item nav-link active" href="javascript:void(0)">Ana Sayfa</a>
                    <a class="nav-item nav-link" href="javascript:void(0)">Hakkında</a>
                    <a class="nav-item nav-link" href="javascript:void(0)">İletişim</a>
                </div>

                <form onsubmit="return false">
                    <button class="btn btn-outline-primary" type="button">Şimdi Satın Al</button>
                </form>
            </div>
        </div>
    </nav>
</div>
<!--/ Desteklenen içerik -->
