@{
    ViewData["Title"] = "Sayfalama ve gezinme yolları - Arayüz öğeleri";
}
@* ************** İçerik ************** *@
<div class="row gy-6">
    <div class="col-lg-12">
        <div class="card">
            <h5 class="card-header">Sayfalama</h5>
            <!-- Temel Sayfalama -->
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <small class="fw-medium">Temel</small>
                        <div class="demo-inline-spacing">
                            <!-- Temel Sayfalama -->
                            <nav aria-label="Sayfa gezinme">
                                <ul class="pagination">
                                    <li class="page-item first">
                                        <a class="page-link" href="javascript:void(0);"><i class="icon-base bx bx-chevrons-left icon-sm"></i></a>
                                    </li>
                                    <li class="page-item prev">
                                        <a class="page-link" href="javascript:void(0);"><i class="icon-base bx bx-chevron-left icon-sm"></i></a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);">2</a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link" href="javascript:void(0);">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);">4</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);">5</a>
                                    </li>
                                    <li class="page-item next">
                                        <a class="page-link" href="javascript:void(0);"><i class="icon-base bx bx-chevron-right icon-sm"></i></a>
                                    </li>
                                    <li class="page-item last">
                                        <a class="page-link" href="javascript:void(0);"><i class="icon-base bx bx-chevrons-right icon-sm"></i></a>
                                    </li>
                                </ul>
                            </nav>
                            <!--/ Temel Sayfalama -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sayfalama Boyut & Hizalamalar -->
    <div class="col-lg-12">
        <div class="card">
            <h5 class="card-header">Boyutlar &amp; Hizalamalar</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4">
                        <small class="fw-medium">Boyutlar</small>
                        <div class="demo-inline-spacing">
                            <nav aria-label="Sayfa gezinme">
                                <ul class="pagination pagination-sm">
                                    <li class="page-item prev">
                                        <a class="page-link" href="javascript:void(0);"><i class="icon-base bx bx-chevrons-left icon-xs"></i></a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);">2</a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link" href="javascript:void(0);">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);">4</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);">5</a>
                                    </li>
                                    <li class="page-item next">
                                        <a class="page-link" href="javascript:void(0);"><i class="icon-base bx bx-chevrons-right icon-xs"></i></a>
                                    </li>
                                </ul>
                            </nav>
                            <nav aria-label="Sayfa gezinme">
                                <ul class="pagination">
                                    <li class="page-item prev">
                                        <a class="page-link" href="javascript:void(0);"><i class="icon-base bx bx-chevrons-left icon-sm"></i></a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);">2</a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link" href="javascript:void(0);">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);">4</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);">5</a>
                                    </li>
                                    <li class="page-item next">
                                        <a class="page-link" href="javascript:void(0);"><i class="icon-base bx bx-chevrons-right icon-sm"></i></a>
                                    </li>
                                </ul>
                            </nav>
                            <nav aria-label="Sayfa gezinme">
                                <ul class="pagination pagination-lg">
                                    <li class="page-item prev">
                                        <a class="page-link" href="javascript:void(0);"><i class="icon-base bx bx-chevrons-left icon-md"></i></a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);">2</a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link" href="javascript:void(0);">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);">4</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);">5</a>
                                    </li>
                                    <li class="page-item next">
                                        <a class="page-link" href="javascript:void(0);"><i class="icon-base bx bx-chevrons-right icon-md"></i></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <small class="fw-medium">Hizalamalar</small>
                        <div class="demo-inline-spacing">
                            <nav aria-label="Sayfa gezinme">
                                <ul class="pagination">
                                    <li class="page-item prev">
                                        <a class="page-link" href="javascript:void(0);"><i class="icon-base bx bx-chevrons-left icon-sm"></i></a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);">2</a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link" href="javascript:void(0);">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);">4</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);">5</a>
                                    </li>
                                    <li class="page-item next">
                                        <a class="page-link" href="javascript:void(0);"><i class="icon-base bx bx-chevrons-right icon-sm"></i></a>
                                    </li>
                                </ul>
                            </nav>
                            <nav aria-label="Sayfa gezinme">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item prev">
                                        <a class="page-link" href="javascript:void(0);"><i class="icon-base bx bx-chevrons-left icon-sm"></i></a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);">2</a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link" href="javascript:void(0);">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);">4</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);">5</a>
                                    </li>
                                    <li class="page-item next">
                                        <a class="page-link" href="javascript:void(0);"><i class="icon-base bx bx-chevrons-right icon-sm"></i></a>
                                    </li>
                                </ul>
                            </nav>
                            <nav aria-label="Sayfa gezinme">
                                <ul class="pagination justify-content-end">
                                    <li class="page-item prev">
                                        <a class="page-link" href="javascript:void(0);"><i class="icon-base bx bx-chevrons-left icon-sm"></i></a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);">2</a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link" href="javascript:void(0);">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);">4</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);">5</a>
                                    </li>
                                    <li class="page-item next">
                                        <a class="page-link" href="javascript:void(0);"><i class="icon-base bx bx-chevrons-right icon-sm"></i></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ Sayfalama Boyut & Hizalamalar -->
    <!-- Gezinme yolu (Breadcrumb) -->
    <div class="col-lg-12">
        <div class="card">
            <h5 class="card-header">Gezinme yolları (Breadcrumbs)</h5>
            <div class="card-body">
                <!-- Temel Gezinme yolu -->
                <nav aria-label="Gezinme yolu">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="javascript:void(0);">Ana Sayfa</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="javascript:void(0);">Kütüphane</a>
                        </li>
                        <li class="breadcrumb-item active">Veri</li>
                    </ol>
                </nav>
                <!--/ Temel Gezinme yolu -->
                <!-- Özel stil 1 Gezinme yolu -->
                <nav aria-label="Gezinme yolu">
                    <ol class="breadcrumb breadcrumb-custom-icon">
                        <li class="breadcrumb-item">
                            <a href="javascript:void(0);">Ana Sayfa</a>
                            <i class="breadcrumb-icon icon-base bx bx-chevron-right align-middle"></i>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="javascript:void(0);">Kütüphane</a>
                            <i class="breadcrumb-icon icon-base bx bx-chevron-right align-middle"></i>
                        </li>
                        <li class="breadcrumb-item active">Veri</li>
                    </ol>
                </nav>
                <!--/ Özel stil 1 Gezinme yolu -->
                <!-- Özel stil 2 Gezinme yolu -->
                <nav aria-label="Gezinme yolu">
                    <ol class="breadcrumb breadcrumb-custom-icon mb-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:void(0);">Ana Sayfa</a>
                            <i class="breadcrumb-icon icon-base bx bx-right-arrow-circle align-middle"></i>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="javascript:void(0);">Kütüphane</a>
                            <i class="breadcrumb-icon icon-base bx bx-right-arrow-circle align-middle"></i>
                        </li>
                        <li class="breadcrumb-item active">Veri</li>
                    </ol>
                </nav>
                <!--/ Özel stil 2 Gezinme yolu -->
            </div>
        </div>
    </div>
    <!--/ Gezinme yolu (Breadcrumb) -->
</div>
