@{
    ViewData["Title"] = "Bilgi Balonları ve Açılır Kutular (Tooltips & Popovers) - Arayüz Öğeleri";
}
@section PageScripts {
    <script src="~/js/ui-popover.js"></script>
}
@* ************** İçerik ************** *@
<div class="row gy-6">
    <!-- Tooltips -->
    <div class="col-lg-12">
        <div class="card">
            <h5 class="card-header">Bilgi Balonları (Tooltips)</h5>
            <div class="card-body">
                <div class="small fw-medium">Konumlar</div>
                <div class="row demo-vertical-spacing">
                    <div class="col">
                        <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-offset="0,6" data-bs-placement="right" data-bs-html="true" title="<i class='icon-base bx bx-trending-up icon-xs'></i> <span>Sağ tarafta bilgi balonu</span>">Sağ</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-offset="0,6" data-bs-placement="top" data-bs-html="true" title="<i class='icon-base bx bx-bell icon-xs'></i> <span>Üstte bilgi balonu</span>">Üst</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-offset="0,6" data-bs-placement="bottom" data-bs-html="true" title="<i class='icon-base bx bx-heart icon-xs'></i> <span>Altta bilgi balonu</span>">Alt</button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-offset="0,6" data-bs-placement="left" data-bs-html="true" title="<i class='icon-base bx bx-dollar icon-xs'></i> <span>Sol tarafta bilgi balonu</span>">Sol</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ Tooltips -->
    <!-- Popovers -->
    <div class="col-lg-12">
        <div class="card">
            <h5 class="card-header">Açılır Bilgi Kutuları (Popovers)</h5>
            <div class="card-body">
                <div class="small fw-medium">Konumlar</div>
                <div class="row demo-vertical-spacing">
                    <div class="col">
                        <button type="button" class="btn btn-primary text-nowrap" data-bs-toggle="popover" data-bs-offset="0,14" data-bs-placement="right" data-bs-html="true"
                                data-bs-content="<p>Bu çok güzel bir açılır kutu, biraz ilgi gösterin.</p> <div class='d-flex justify-content-between'><button type='button' class='btn btn-sm btn-label-secondary'>Geç</button><button type='button' class='btn btn-sm btn-primary'>Daha Fazla</button></div>"
                                title="Açılır Kutu Başlığı">
                            Sağda Açılır Kutu
                        </button>
                    </div>

                    <div class="col">
                        <button type="button" class="btn btn-primary text-nowrap" data-bs-toggle="popover" data-bs-offset="0,14" data-bs-placement="top" data-bs-html="true"
                                data-bs-content="<p>Bu çok güzel bir açılır kutu, biraz ilgi gösterin.</p> <div class='d-flex justify-content-between'><button type='button' class='btn btn-sm btn-label-secondary'>Geç</button><button type='button' class='btn btn-sm btn-primary'>Daha Fazla</button></div>"
                                title="Açılır Kutu Başlığı">
                            Üstte Açılır Kutu
                        </button>
                    </div>

                    <div class="col">
                        <button type="button" class="btn btn-primary text-nowrap" data-bs-toggle="popover" data-bs-offset="0,14" data-bs-placement="bottom" data-bs-html="true"
                                data-bs-content="<p>Bu çok güzel bir açılır kutu, biraz ilgi gösterin.</p> <div class='d-flex justify-content-between'><button type='button' class='btn btn-sm btn-label-secondary'>Geç</button><button type='button' class='btn btn-sm btn-primary'>Daha Fazla</button></div>"
                                title="Açılır Kutu Başlığı">
                            Altta Açılır Kutu
                        </button>
                    </div>

                    <div class="col">
                        <button type="button" class="btn btn-primary text-nowrap" data-bs-toggle="popover" data-bs-offset="0,14" data-bs-placement="left" data-bs-html="true"
                                data-bs-content="<p>Bu çok güzel bir açılır kutu, biraz ilgi gösterin.</p> <div class='d-flex justify-content-between'><button type='button' class='btn btn-sm btn-label-secondary'>Geç</button><button type='button' class='btn btn-sm btn-primary'>Daha Fazla</button></div>"
                                title="Açılır Kutu Başlığı">
                            Solda Açılır Kutu
                        </button>
                    </div>
                </div>
            </div>

            <hr class="m-0" />

            <div class="card-body">
                <div class="small fw-medium">Özel Açılır Kutu</div>

                <div class="demo-inline-spacing">
                    <button type="button" class="btn btn-primary"
                            data-bs-toggle="popover"
                            data-bs-offset="0,14"
                            data-bs-placement="right"
                            data-bs-custom-class="custom-popover"
                            data-bs-content="Bu özel bir açılır kutudur."
                            title="Açılır Kutu Başlığı">
                        Özel Açılır Kutu
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--/ Popovers -->
</div>
