@{
    ViewData["Title"] = "Tipografi - Arayüz Öğeleri";
}
@* ************** İçerik ************** *@

<div class="row g-6 mb-6">
    <!-- Başlıklar -->
    <div class="col-lg">
        <div class="card">
            <h5 class="card-header">Başlıklar</h5>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td class="align-middle"><small class="text-light fw-medium">Başlık 1</small></td>
                        <td class="py-4"><h1 class="mb-0">Bootstrap başlık</h1></td>
                    </tr>
                    <tr>
                        <td class="align-middle"><small class="text-light fw-medium">Başlık 2</small></td>
                        <td class="py-4"><h2 class="mb-0">Bootstrap başlık</h2></td>
                    </tr>
                    <tr>
                        <td><small class="text-light fw-medium">Başlık 3</small></td>
                        <td class="py-4"><h3 class="mb-0">Bootstrap başlık</h3></td>
                    </tr>
                    <tr>
                        <td><small class="text-light fw-medium">Başlık 4</small></td>
                        <td class="py-4"><h4 class="mb-0">Bootstrap başlık</h4></td>
                    </tr>
                    <tr>
                        <td><small class="text-light fw-medium">Başlık 5</small></td>
                        <td class="py-4"><h5 class="mb-0">Bootstrap başlık</h5></td>
                    </tr>
                    <tr>
                        <td><small class="text-light fw-medium">Başlık 6</small></td>
                        <td class="py-4"><h6 class="mb-0">Bootstrap başlık</h6></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Özelleştirilmiş Başlıklar -->
    <div class="col-lg">
        <div class="card">
            <h5 class="card-header">Özelleştirilmiş Başlıklar <small class="text-body-secondary ms-1">Varsayılan</small></h5>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td class="align-middle"><small class="text-light fw-medium">Başlık 1</small></td>
                        <td class="py-4"><h1 class="mb-0">Bootstrap <small class="text-body-secondary">başlık</small></h1></td>
                    </tr>

                    <tr>
                        <td class="align-middle"><small class="text-light fw-medium">Başlık 2</small></td>
                        <td class="py-4"><h2 class="mb-0">Bootstrap <small class="text-body-secondary">başlık</small></h2></td>
                    </tr>

                    <tr>
                        <td><small class="text-light fw-medium">Başlık 3</small></td>
                        <td class="py-4"><h3 class="mb-0">Bootstrap <small class="text-body-secondary">başlık</small></h3></td>
                    </tr>

                    <tr>
                        <td><small class="text-light fw-medium">Başlık 4</small></td>
                        <td class="py-4"><h4 class="mb-0">Bootstrap <small class="text-body-secondary">başlık</small></h4></td>
                    </tr>

                    <tr>
                        <td><small class="text-light fw-medium">Başlık 5</small></td>
                        <td class="py-4"><h5 class="mb-0">Bootstrap <small class="text-body-secondary">başlık</small></h5></td>
                    </tr>

                    <tr>
                        <td><small class="text-light fw-medium">Başlık 6</small></td>
                        <td class="py-4"><h6 class="mb-0">Bootstrap <small class="text-body-secondary">başlık</small></h6></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row g-6 mb-6">
    <!-- Görünüm Başlıkları -->
    <div class="col-lg">
        <div class="card">
            <h5 class="card-header">Görsel Başlıklar</h5>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td><small class="text-light fw-medium">Görsel 1</small></td>
                        <td class="py-4"><h1 class="display-1 mb-0">Görsel 1</h1></td>
                    </tr>
                    <tr>
                        <td><small class="text-light fw-medium">Görsel 2</small></td>
                        <td class="py-4"><h1 class="display-2 mb-0">Görsel 2</h1></td>
                    </tr>
                    <tr>
                        <td><small class="text-light fw-medium">Görsel 3</small></td>
                        <td class="py-4"><h1 class="display-3 mb-0">Görsel 3</h1></td>
                    </tr>
                    <tr>
                        <td><small class="text-light fw-medium">Görsel 4</small></td>
                        <td class="py-4"><h1 class="display-4 mb-0">Görsel 4</h1></td>
                    </tr>
                    <tr>
                        <td><small class="text-light fw-medium">Görsel 5</small></td>
                        <td class="py-4"><h1 class="display-5 mb-0">Görsel 5</h1></td>
                    </tr>
                    <tr>
                        <td><small class="text-light fw-medium">Görsel 6</small></td>
                        <td class="py-4"><h1 class="display-6 mb-0">Görsel 6</h1></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Paragraflar -->
    <div class="col-lg">
        <div class="card">
            <h5 class="card-header">Paragraflar</h5>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td><small class="text-light fw-medium">Paragraf</small></td>
                        <td class="py-4">
                            <p class="mb-0">Örnek bir paragraf metni burada yer almaktadır.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><small class="text-light fw-medium">Vurgu Metni</small></td>
                        <td class="py-6">
                            <p class="lead mb-0">Bu metin daha belirgin olması için vurgulu olarak gösterilir.</p>
                        </td>
                    </tr>

                    <tr>
                        <td><small class="text-light fw-medium">Soluk Metin</small></td>
                        <td class="py-4">
                            <p class="text-body-secondary mb-0">Bu paragraf daha soluk bir görünümle gösterilir.</p>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row g-6 mb-6">
    <!-- Satır İçi Metin Elemanları -->
    <div class="col">
        <div class="card">
            <h5 class="card-header">Satır İçi Metin Elemanları</h5>
            <div class="card-body">
                <table class="table table-borderless">
                    <tbody>

                        <tr>
                            <td><small class="text-light fw-medium">Vurgulama</small></td>
                            <td class="py-4"><p>Metni <mark>bu şekilde</mark> vurgulayabilirsiniz.</p></td>
                        </tr>

                        <tr>
                            <td><small class="text-light fw-medium">Silinmiş Metin</small></td>
                            <td class="py-4"><p><del>Bu metin silinmiş olarak işaretlenmiştir.</del></p></td>
                        </tr>

                        <tr>
                            <td><small class="text-light fw-medium">Artık Geçerli Değil</small></td>
                            <td class="py-4"><p><s>Bu metin artık geçerli olmayan bir içerik olarak gösterilir.</s></p></td>
                        </tr>

                        <tr>
                            <td><small class="text-light fw-medium">Eklenen Metin</small></td>
                            <td class="py-4"><p><ins>Bu metin belgeye eklenmiş bir içeriktir.</ins></p></td>
                        </tr>

                        <tr>
                            <td><small class="text-light fw-medium">Altı Çizili Metin</small></td>
                            <td class="py-4"><p><u>Bu metin altı çizili olarak görüntülenir.</u></p></td>
                        </tr>

                        <tr>
                            <td><small class="text-light fw-medium">Küçük Yazı</small></td>
                            <td class="py-4"><p><small>Bu metin küçük puntolu bir yazıdır.</small></p></td>
                        </tr>

                        <tr>
                            <td><small class="text-light fw-medium">Kalın Metin</small></td>
                            <td class="py-4"><p><strong>Bu metin kalın olarak vurgulanmıştır.</strong></p></td>
                        </tr>

                        <tr>
                            <td><small class="text-light fw-medium">İtalik Metin</small></td>
                            <td class="py-4"><p><em>Bu metin italik yazı tipindedir.</em></p></td>
                        </tr>

                        <tr>
                            <td><small class="text-light fw-medium">Kısaltmalar</small></td>
                            <td>
                                <p><abbr title="özellik">attr</abbr></p>
                                <p><abbr title="HyperText Markup Language" class="initialism">HTML</abbr></p>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row g-6">
    <!-- Alıntılar -->
    <div class="col-lg">
        <div class="card mb-lg-0">
            <h5 class="card-header">Alıntılar</h5>
            <div class="card-body">
                <blockquote class="blockquote mt-4">
                    <p class="mb-0">Bu bir örnek alıntı metnidir.</p>
                </blockquote>
            </div>

            <hr class="m-0" />

            <div class="card-body">
                <small class="text-light fw-medium">Kaynak Belirtme</small>
                <figure class="mt-2">
                    <blockquote class="blockquote">
                        <p class="mb-0">Bu bir örnek alıntı metnidir.</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">Ünlü biri <cite title="Kaynak Başlığı">Kaynak Başlığı</cite> içinde</figcaption>
                </figure>
            </div>

            <hr class="m-0" />

            <div class="card-body">
                <small class="text-light fw-medium">Ortalanmış</small>
                <figure class="text-center mt-2">
                    <blockquote class="blockquote">
                        <p class="mb-0">Bu bir ortalanmış alıntı metnidir.</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">Ünlü biri <cite title="Kaynak Başlığı">Kaynak Başlığı</cite> içinde</figcaption>
                </figure>
            </div>

            <hr class="m-0" />

            <div class="card-body">
                <small class="text-light fw-medium">Sağa Yaslı</small>
                <figure class="text-end mt-2">
                    <blockquote class="blockquote">
                        <p class="mb-0">Bu bir sağa yaslı alıntı metnidir.</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">Ünlü biri <cite title="Kaynak Başlığı">Kaynak Başlığı</cite> içinde</figcaption>
                </figure>
            </div>

        </div>
    </div>

    <!-- Listeler -->
    <div class="col-lg">
        <div class="card">
            <h5 class="card-header">Listeler</h5>

            <div class="card-body">
                <small class="text-light fw-medium">Biçimlendirilmemiş Liste</small>
                <ul class="list-unstyled mt-2">
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Facilisis in pretium nisl aliquet</li>
                    <li>
                        Nulla volutpat aliquam velit
                        <ul>
                            <li>Phasellus iaculis neque</li>
                            <li>Ac tristique libero volutpat at</li>
                        </ul>
                    </li>
                    <li>Faucibus porta lacus fringilla vel</li>
                </ul>
            </div>

            <hr class="m-0" />

            <div class="card-body">
                <small class="text-light fw-medium">Satır İçi Liste</small>
                <ul class="list-inline mt-2">
                    <li class="list-inline-item">Lorem ipsum</li>
                    <li class="list-inline-item">Phasellus iaculis</li>
                    <li class="list-inline-item">Nulla volutpat</li>
                </ul>
            </div>

            <hr class="m-0" />

            <div class="card-body">
                <small class="text-light fw-medium">Açıklama Listesi Hizalama</small>
                <dl class="row mt-2">
                    <dt class="col-sm-3">Açıklama Listesi</dt>
                    <dd class="col-sm-9">Terimlerin açıklanması için idealdir.</dd>

                    <dt class="col-sm-3">Euismod</dt>
                    <dd class="col-sm-9">
                        <p>Örnek açıklama metni burada yer almaktadır.</p>
                    </dd>

                    <dt class="col-sm-3">Malesuada porta</dt>
                    <dd class="col-sm-9">Örnek açıklama içeriği.</dd>

                    <dt class="col-sm-3 text-truncate">Kısaltılmış uzun terim</dt>
                    <dd class="col-sm-9">Açıklama içeriği burada yer alır.</dd>

                    <dt class="col-sm-3">İç İçe Liste</dt>
                    <dd class="col-sm-9">
                        <dl class="row">
                            <dt class="col-sm-4">İç Liste</dt>
                            <dd class="col-sm-8">İç içe açıklama örneği.</dd>
                        </dl>
                    </dd>
                </dl>
            </div>

        </div>
    </div>
</div>
