@{
    ViewData["Title"] = "Kartlar (Temel) - Arayüz öğeleri";
}

@section VendorScripts {
    <script src="~/vendor/libs/masonry/masonry.js"></script>
}

@* ************** Content ************** *@
<!-- Örnekler -->
<div class="row mb-12 g-6">
    <div class="col-md-6 col-lg-4">
        <div class="card h-100">
            <img class="card-img-top" src="~/img/elements/2.png" alt="Kart görseli" />
            <div class="card-body">
                <h5 class="card-title">Kart başlığı</h5>
                <p class="card-text">Kart başlığını desteklemek ve kart içeriğini doldurmak için kısa bir örnek metin.</p>
                <a href="javascript:void(0)" class="btn btn-outline-primary">Bir yere git</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Kart başlığı</h5>
                <h6 class="card-subtitle">Kart alt başlığını destekleyin</h6>
            </div>
            <img class="img-fluid" src="~/img/elements/5.png" alt="Kart görseli" />
            <div class="card-body">
                <p class="card-text">Ay çöreği, susamlı krokan, şekerlemeler ve çikolata.</p>
                <a href="javascript:void(0);" class="card-link">Kart bağlantısı</a>
                <a href="javascript:void(0);" class="card-link">Başka bağlantı</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">Kart başlığı</h5>
                <h6 class="card-subtitle">Kart alt başlığını destekleyin</h6>
                <img class="img-fluid d-flex mx-auto my-6 rounded" src="~/img/elements/4.png" alt="Kart görseli" />
                <p class="card-text">Ay çöreği, susamlı krokan, şekerlemeler ve çikolata.</p>
                <a href="javascript:void(0);" class="card-link">Kart bağlantısı</a>
                <a href="javascript:void(0);" class="card-link">Başka bağlantı</a>
            </div>
        </div>
    </div>
</div>
<!-- /Örnekler -->
<!-- İçerik türleri -->
<h5 class="pb-1 mb-6">İçerik türleri</h5>

<div class="row mb-12 g-6">
    <div class="col-md-6 col-lg-4">
        <h6 class="mt-2 text-body-secondary">Gövde</h6>
        <div class="card mb-6">
            <div class="card-body">
                <p class="card-text">
                    Bu, kart gövdesi içerisinde bulunan örnek bir metindir. Jelibon, limonlu şeker, tiramisu, çikolata kek,
                    pamuk şeker, sufle, yulaflı kek ve çörek gibi tatlı örnekleri içeren uzun bir açıklama.
                </p>
            </div>
        </div>

        <h6 class="mt-2 text-body-secondary">Başlıklar, metinler ve bağlantılar</h6>
        <div class="card mb-6">
            <div class="card-body">
                <h5 class="card-title mb-1">Kart başlığı</h5>
                <div class="card-subtitle mb-4">Kart alt başlığı</div>
                <p class="card-text">
                    Kart başlığını desteklemek ve kart içeriğinin büyük kısmını doldurmak için kısa bir örnek metin.
                </p>
                <a href="javascript:void(0)" class="card-link">Kart bağlantısı</a>
                <a href="javascript:void(0)" class="card-link">Başka bağlantı</a>
            </div>
        </div>

        <h6 class="mt-2 text-body-secondary">Liste grupları</h6>
        <div class="card mb-6">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </div>

    <div class="col-md-6 col-lg-4">
        <h6 class="mt-2 text-body-secondary">Görseller</h6>
        <div class="card">
            <img class="card-img-top" src="~/img/elements/5.png" alt="Kart görseli" />
            <div class="card-body">
                <p class="card-text">
                    Kart başlığını desteklemek ve kart içeriğinin büyük kısmını doldurmak için kısa bir örnek metin.
                </p>
                <p class="card-text">
                    Kurabiye üstü karamel, jöleli şekerler ve zencefilli kek. Lollipop, elmalı turta, cupcake, şeker
                    çubukları ve dondurma. Gofret, çikolata bar, havuçlu kek ve jöle.
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-4">
        <h6 class="mt-2 text-body-secondary">Hepsi bir arada</h6>
        <div class="card">
            <img class="card-img-top" src="~/img/elements/7.png" alt="Kart görseli" />
            <div class="card-body">
                <h5 class="card-title">Kart başlığı</h5>
                <p class="card-text">Kart başlığını desteklemek için kısa bir örnek metin.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <div class="card-body">
                <a href="javascript:void(0)" class="card-link">Kart bağlantısı</a>
                <a href="javascript:void(0)" class="card-link">Başka bağlantı</a>
            </div>
        </div>
    </div>
</div>

<h6 class="pb-1 mb-6 text-body-secondary">Başlık ve alt bilgi</h6>
<div class="row mb-12 g-6">
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-header">Öne çıkan</div>
            <div class="card-body">
                <h5 class="card-title">Özel başlık düzeni</h5>
                <p class="card-text">
                    Aşağıdaki metin, doğal bir giriş ile ek içeriğe bağlanmak için destekleyici bir metin örneğidir.
                </p>
                <a href="javascript:void(0)" class="btn btn-primary">Bir yere git</a>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-4">
        <div class="card">
            <h5 class="card-header">Alıntı</h5>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor
                        sit amet, consectetur.
                    </p>
                    <footer class="blockquote-footer">
                        Meşhur biri
                        <cite title="Source Title">Kaynak Başlığı</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-4">
        <div class="card text-center">
            <div class="card-header">Öne çıkan</div>
            <div class="card-body">
                <h5 class="card-title">Özel başlık düzeni</h5>
                <p class="card-text">Aşağıdaki metin, doğal bir giriş ile ek içeriğe bağlanmak için destekleyici metindir.</p>
                <a href="javascript:void(0)" class="btn btn-primary">Bir yere git</a>
            </div>
            <div class="card-footer text-body-secondary">2 gün önce</div>
        </div>
    </div>
</div>
<!--/ İçerik türleri -->
<!-- Metin hizalama -->
<h5 class="pb-1 mb-6">Metin hizalama</h5>
<div class="row mb-12 g-6">
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Özel başlık düzeni</h5>
                <p class="card-text">
                    Aşağıdaki metin, doğal bir giriş ile ek içeriğe bağlanmak için destekleyici bir metindir.
                </p>
                <a href="javascript:void(0)" class="btn btn-primary">Bir yere git</a>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-4">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Özel başlık düzeni</h5>
                <p class="card-text">
                    Aşağıdaki metin, doğal bir giriş ile ek içeriğe bağlanmak için destekleyici bir metindir.
                </p>
                <a href="javascript:void(0)" class="btn btn-primary">Bir yere git</a>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-4">
        <div class="card text-end">
            <div class="card-body">
                <h5 class="card-title">Özel başlık düzeni</h5>
                <p class="card-text">
                    Aşağıdaki metin, doğal bir giriş ile ek içeriğe bağlanmak için destekleyici bir metindir.
                </p>
                <a href="javascript:void(0)" class="btn btn-primary">Bir yere git</a>
            </div>
        </div>
    </div>
</div>
<!--/ Metin hizalama -->
<!-- Görseller -->
<h5 class="pb-1 mb-6">Görsel başlıkları & kaplama</h5>
<div class="row mb-12 g-6">
    <div class="col-md-6 col-xl-4">
        <div class="card">
            <img class="card-img-top" src="~/img/elements/5.png" alt="Kart görseli" />
            <div class="card-body">
                <h5 class="card-title">Kart başlığı</h5>
                <p class="card-text">
                    Bu, ek içeriğe doğal bir giriş olarak aşağıda destekleyici metin içeren daha geniş bir kart örneğidir.
                    İçerik biraz daha uzundur.
                </p>
                <p class="card-text">
                    <small class="text-body-secondary">Son güncelleme: 3 dakika önce</small>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Kart başlığı</h5>
                <p class="card-text">
                    Bu, ek içeriğe doğal bir giriş olarak aşağıda destekleyici metin içeren daha geniş bir kart örneğidir.
                    İçerik biraz daha uzundur.
                </p>
                <p class="card-text">
                    <small class="text-body-secondary">Son güncelleme: 3 dakika önce</small>
                </p>
            </div>
            <img class="card-img-bottom" src="~/img/elements/6.png" alt="Kart görseli" />
        </div>
    </div>

    <div class="col-md-6 col-xl-4">
        <div class="card text-bg-dark border-0">
            <img class="card-img" src="~/img/elements/14.png" alt="Kart görseli" />
            <div class="card-img-overlay">
                <h5 class="card-title text-white">Kart başlığı</h5>
                <p class="card-text">
                    Bu, ek içeriğe doğal bir giriş olarak aşağıda destekleyici metin içeren daha geniş bir kart örneğidir.
                    İçerik biraz daha uzundur.
                </p>
                <p class="card-text">Son güncelleme: 3 dakika önce</p>
            </div>
        </div>
    </div>
</div>
<!--/ Görseller -->
<!-- Yatay -->
<h5 class="pb-1 mb-6">Yatay</h5>
<div class="row mb-12 g-6">
    <div class="col-md">
        <div class="card">
            <div class="d-flex flex-md-row flex-column">
                <div>
                    <img class="card-img card-img-left" src="~/img/elements/18.png" alt="Kart görseli" />
                </div>
                <div>
                    <div class="card-body">
                        <h5 class="card-title">Kart başlığı</h5>
                        <p class="card-text">
                            Bu, ek içeriğe doğal bir giriş olarak aşağıda destekleyici metin içeren daha geniş bir kart örneğidir.
                            İçerik biraz daha uzundur.
                        </p>
                        <p class="card-text">
                            <small class="text-body-secondary">Son güncelleme: 3 dakika önce</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md">
        <div class="card">
            <div class="d-flex flex-md-row flex-column">
                <div>
                    <div class="card-body">
                        <h5 class="card-title">Kart başlığı</h5>
                        <p class="card-text">
                            Bu, ek içeriğe doğal bir giriş olarak aşağıda destekleyici metin içeren daha geniş bir kart örneğidir.
                            İçerik biraz daha uzundur.
                        </p>
                        <p class="card-text">
                            <small class="text-body-secondary">Son güncelleme: 3 dakika önce</small>
                        </p>
                    </div>
                </div>
                <div>
                    <img class="card-img card-img-right" src="~/img/elements/19.png" alt="Kart görseli" />
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ Yatay -->
<!-- Stil varyasyonu -->
<h5 class="pb-1 mb-4">Stil varyasyonları</h5>
<h6 class="pb-1 mb-4 text-body-secondary">Varsayılan (dolu)</h6>
<div class="row g-6 mb-6">
    <div class="col-md-6 col-xl-4">
        <div class="card text-bg-primary">
            <div class="card-body">
                <h5 class="card-title text-white">Birincil kart başlığı</h5>
                <p class="card-text">Kart başlığını temel alan ve içeriği dolduran kısa bir örnek metin.</p>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-4">
        <div class="card text-bg-secondary">
            <div class="card-body">
                <h5 class="card-title text-white">İkincil kart başlığı</h5>
                <p class="card-text">Kart başlığını temel alan ve içeriği dolduran kısa bir örnek metin.</p>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-4">
        <div class="card bg-success text-white">
            <div class="card-body">
                <h5 class="card-title text-white">Başarılı kart başlığı</h5>
                <p class="card-text">Kart başlığını temel alan ve içeriği dolduran kısa bir örnek metin.</p>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-4">
        <div class="card text-bg-danger">
            <div class="card-body">
                <h5 class="card-title text-white">Hata kartı başlığı</h5>
                <p class="card-text">Kart başlığını temel alan ve içeriği dolduran kısa bir örnek metin.</p>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-4">
        <div class="card text-bg-warning">
            <div class="card-body">
                <h5 class="card-title text-white">Uyarı kartı başlığı</h5>
                <p class="card-text">Kart başlığını temel alan ve içeriği dolduran kısa bir örnek metin.</p>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-4">
        <div class="card text-bg-info">
            <div class="card-body">
                <h5 class="card-title text-white">Bilgi kartı başlığı</h5>
                <p class="card-text">Kart başlığını temel alan ve içeriği dolduran kısa bir örnek metin.</p>
            </div>
        </div>
    </div>
</div>

<!-- Konturlu -->
<h6 class="pb-1 mb-4 text-body-secondary">Konturlu</h6>
<div class="row g-6">
    <div class="col-md-6 col-xl-4">
        <div class="card shadow-none bg-transparent border border-primary text-primary">
            <div class="card-body">
                <h5 class="card-title text-primary">Birincil kart başlığı</h5>
                <p class="card-text">Kart başlığını temel alan ve içeriği dolduran kısa bir örnek metin.</p>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-4">
        <div class="card shadow-none bg-transparent border border-secondary text-secondary">
            <div class="card-body">
                <h5 class="card-title text-secondary">İkincil kart başlığı</h5>
                <p class="card-text">Kart başlığını temel alan ve içeriği dolduran kısa bir örnek metin.</p>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-4">
        <div class="card shadow-none bg-transparent border border-success text-success">
            <div class="card-body">
                <h5 class="card-title text-success">Başarılı kart başlığı</h5>
                <p class="card-text">Kart başlığını temel alan ve içeriği dolduran kısa bir örnek metin.</p>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-4">
        <div class="card shadow-none bg-transparent border border-danger text-danger">
            <div class="card-body">
                <h5 class="card-title text-danger">Hata kartı başlığı</h5>
                <p class="card-text">Kart başlığını temel alan ve içeriği dolduran kısa bir örnek metin.</p>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-4">
        <div class="card shadow-none bg-transparent border border-warning text-warning">
            <div class="card-body">
                <h5 class="card-title text-warning">Uyarı kartı başlığı</h5>
                <p class="card-text">Kart başlığını temel alan ve içeriği dolduran kısa bir örnek metin.</p>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-xl-4">
        <div class="card shadow-none bg-transparent border border-info text-info">
            <div class="card-body">
                <h5 class="card-title text-info">Bilgi kartı başlığı</h5>
                <p class="card-text">Kart başlığını temel alan ve içeriği dolduran kısa bir örnek metin.</p>
            </div>
        </div>
    </div>
</div>
<!--/ Stil varyasyonları -->
<!-- Kart düzeni -->
<h5 class="pb-1 my-12">Kart düzeni</h5>

<!-- Kart Grupları -->
<h6 class="pb-1 mb-6 text-body-secondary">Kart grupları</h6>
<div class="card-group mb-12">
    <div class="card">
        <img class="card-img-top" src="~/img/elements/4.png" alt="Kart görseli" />
        <div class="card-body">
            <h5 class="card-title">Kart başlığı</h5>
            <p class="card-text">
                Bu, ek içeriğe doğal bir giriş olarak aşağıda destekleyici metin içeren daha geniş bir kart örneğidir. İçerik
                biraz daha uzundur.
            </p>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary">Son güncelleme: 3 dakika önce</small>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top" src="~/img/elements/5.png" alt="Kart görseli" />
        <div class="card-body">
            <h5 class="card-title">Kart başlığı</h5>
            <p class="card-text">
                Bu kart, ek içeriğe doğal bir giriş olarak aşağıda destekleyici metin içerir.
            </p>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary">Son güncelleme: 3 dakika önce</small>
        </div>
    </div>

    <div class="card">
        <img class="card-img-top" src="~/img/elements/1.png" alt="Kart görseli" />
        <div class="card-body">
            <h5 class="card-title">Kart başlığı</h5>
            <p class="card-text">
                Bu, ek içeriğe doğal bir giriş olarak aşağıda destekleyici metin içeren daha geniş bir kart örneğidir. Kart,
                ilk karttan bile daha uzun içerik barındırır.
            </p>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary">Son güncelleme: 3 dakika önce</small>
        </div>
    </div>
</div>

<!-- Izgara Kart -->
<h6 class="pb-1 mb-6 text-body-secondary">Izgara kart</h6>
<div class="row row-cols-1 row-cols-md-3 g-6 mb-12">
    <div class="col">
        <div class="card h-100">
            <img class="card-img-top" src="~/img/elements/15.png" alt="Kart görseli" />
            <div class="card-body">
                <h5 class="card-title">Kart başlığı</h5>
                <p class="card-text">
                    Bu, ek içeriğe doğal bir giriş olarak aşağıda destekleyici metin içeren daha uzun bir kart örneğidir.
                    İçerik biraz daha uzundur.
                </p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100">
            <img class="card-img-top" src="~/img/elements/16.png" alt="Kart görseli" />
            <div class="card-body">
                <h5 class="card-title">Kart başlığı</h5>
                <p class="card-text">
                    Bu, ek içeriğe doğal bir giriş olarak aşağıda destekleyici metin içeren daha uzun bir kart örneğidir.
                    İçerik biraz daha uzundur.
                </p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100">
            <img class="card-img-top" src="~/img/elements/17.png" alt="Kart görseli" />
            <div class="card-body">
                <h5 class="card-title">Kart başlığı</h5>
                <p class="card-text">
                    Bu, ek içeriğe doğal bir giriş olarak aşağıda destekleyici metin içeren daha uzun bir kart örneğidir.
                </p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100">
            <img class="card-img-top" src="~/img/elements/11.png" alt="Kart görseli" />
            <div class="card-body">
                <h5 class="card-title">Kart başlığı</h5>
                <p class="card-text">
                    Bu, ek içeriğe doğal bir giriş olarak aşağıda destekleyici metin içeren daha uzun bir kart örneğidir.
                    İçerik biraz daha uzundur.
                </p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100">
            <img class="card-img-top" src="~/img/elements/12.png" alt="Kart görseli" />
            <div class="card-body">
                <h5 class="card-title">Kart başlığı</h5>
                <p class="card-text">
                    Bu, ek içeriğe doğal bir giriş olarak aşağıda destekleyici metin içeren daha uzun bir kart örneğidir.
                    İçerik biraz daha uzundur.
                </p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card h-100">
            <img class="card-img-top" src="~/img/elements/13.png" alt="Kart görseli" />
            <div class="card-body">
                <h5 class="card-title">Kart başlığı</h5>
                <p class="card-text">
                    Bu, ek içeriğe doğal bir giriş olarak aşağıda destekleyici metin içeren daha uzun bir kart örneğidir.
                    İçerik biraz daha uzundur.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Masonry -->
<h6 class="pb-1 mb-6 text-body-secondary">Masonry düzeni</h6>
<div class="row g-6" data-masonry='{"percentPosition": true }'>
    <div class="col-sm-6 col-lg-4">
        <div class="card">
            <img class="card-img-top" src="~/img/elements/5.png" alt="Kart görseli" />
            <div class="card-body">
                <h5 class="card-title">Yeni satıra saran kart başlığı</h5>
                <p class="card-text">
                    Bu, ek içeriğe doğal bir giriş olarak aşağıda destekleyici metin içeren daha uzun bir kart örneğidir.
                    İçerik biraz daha uzundur.
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-lg-4">
        <div class="card p-4">
            <figure class="p-4 mb-0">
                <blockquote class="blockquote">
                    <p>İyi bilinen bir alıntı, blockquote etiketi içinde gösterilmiştir.</p>
                </blockquote>
                <figcaption class="blockquote-footer mb-0 text-body-secondary">
                    Meşhur biri
                    <cite title="Source Title">Kaynak Başlığı</cite>
                </figcaption>
            </figure>
        </div>
    </div>

    <div class="col-sm-6 col-lg-4">
        <div class="card">
            <img class="card-img-top" src="~/img/elements/3.png" alt="Kart görseli" />
            <div class="card-body">
                <h5 class="card-title">Kart başlığı</h5>
                <p class="card-text">
                    Bu kart, ek içeriğe doğal bir giriş olarak aşağıda destekleyici metin içerir.
                </p>
                <p class="card-text">
                    <small class="text-body-secondary">Son güncelleme: 3 dakika önce</small>
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-lg-4">
        <div class="card bg-primary text-white text-center p-4">
            <figure class="mb-0">
                <blockquote class="blockquote">
                    <p>İyi bilinen bir alıntı, blockquote etiketi içinde gösterilmiştir.</p>
                </blockquote>
                <figcaption class="blockquote-footer mb-0 text-white">
                    Meşhur biri
                    <cite title="Source Title">Kaynak Başlığı</cite>
                </figcaption>
            </figure>
        </div>
    </div>

    <div class="col-sm-6 col-lg-4">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Kart başlığı</h5>
                <p class="card-text">
                    Bu kart, başlık ve altında kısa bir metin barındırır.
                </p>
                <p class="card-text">
                    <small class="text-body-secondary">Son güncelleme: 3 dakika önce</small>
                </p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-lg-4">
        <div class="card">
            <img class="card-img" src="~/img/elements/4.png" alt="Kart görseli" />
        </div>
    </div>

    <div class="col-sm-6 col-lg-4">
        <div class="card p-4 text-end">
            <figure class="mb-0">
                <blockquote class="blockquote">
                    <p>İyi bilinen bir alıntı, blockquote etiketi içinde gösterilmiştir.</p>
                </blockquote>
                <figcaption class="blockquote-footer mb-0 text-body-secondary">
                    Meşhur biri
                    <cite title="Source Title">Kaynak Başlığı</cite>
                </figcaption>
            </figure>
        </div>
    </div>

    <div class="col-sm-6 col-lg-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Kart başlığı</h5>
                <p class="card-text">
                    Bu, başlık ve altında destekleyici metin barındıran bir başka kart örneğidir. Kart, biraz daha fazla
                    içerik içerir.
                </p>
                <p class="card-text">
                    <small class="text-body-secondary">Son güncelleme: 3 dakika önce</small>
                </p>
            </div>
        </div>
    </div>
</div>
<!--/ Kart düzeni -->
