@{
    ViewData["Title"] = "Dikey Form - Form Yerleşimleri";
}

@* ************** İçerik ************** *@
<!-- Basic Layout -->
<div class="row mb-6 gy-6">
    <div class="col-xl">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Temel Yerleşim</h5>
                <small class="text-body float-end">Varsayılan etiket</small>
            </div>
            <div class="card-body">
                <form>
                    <div class="mb-6">
                        <label class="form-label" for="basic-default-fullname">Ad Soyad</label>
                        <input type="text" class="form-control" id="basic-default-fullname" name="basic-default-fullname" placeholder="John Doe" />
                    </div>
                    <div class="mb-6">
                        <label class="form-label" for="basic-default-company">Şirket</label>
                        <input type="text" class="form-control" id="basic-default-company" name="basic-default-company" placeholder="ACME Inc." />
                    </div>
                    <div class="mb-6">
                        <label class="form-label" for="basic-default-email">E-posta</label>
                        <div class="input-group input-group-merge">
                            <input type="text" id="basic-default-email" name="basic-default-email" class="form-control" placeholder="john.doe" aria-label="john.doe" aria-describedby="basic-default-email2" />
                            <span class="input-group-text" id="basic-default-email2">&#64;example.com</span>
                        </div>
                        <div class="form-text">Harf, rakam ve nokta kullanabilirsiniz.</div>
                    </div>
                    <div class="mb-6">
                        <label class="form-label" for="basic-default-phone">Telefon Numarası</label>
                        <input type="text" id="basic-default-phone" name="basic-default-phone" class="form-control phone-mask" placeholder="658 799 8941" />
                    </div>
                    <div class="mb-6">
                        <label class="form-label" for="basic-default-message">Mesaj</label>
                        <textarea id="basic-default-message" name="basic-default-message" class="form-control" placeholder="Merhaba, konuşmak için bir dakikan var mı Joe?"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Gönder</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xl">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">İkonlu Temel Yerleşim</h5>
                <small class="text-body float-end">Birleştirilmiş giriş grubu</small>
            </div>
            <div class="card-body">
                <form>
                    <div class="mb-6">
                        <label class="form-label" for="basic-icon-default-fullname">Ad Soyad</label>
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-fullname2" class="input-group-text"><i class="icon-base bx bx-user"></i></span>
                            <input type="text" class="form-control" id="basic-icon-default-fullname" name="basic-icon-default-fullname" placeholder="John Doe" aria-label="John Doe" aria-describedby="basic-icon-default-fullname2" />
                        </div>
                    </div>
                    <div class="mb-6">
                        <label class="form-label" for="basic-icon-default-company">Şirket</label>
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-company2" class="input-group-text"><i class="icon-base bx bx-buildings"></i></span>
                            <input type="text" id="basic-icon-default-company" name="basic-icon-default-company" class="form-control" placeholder="ACME Inc." aria-label="ACME Inc." aria-describedby="basic-icon-default-company2" />
                        </div>
                    </div>
                    <div class="mb-6">
                        <label class="form-label" for="basic-icon-default-email">E-posta</label>
                        <div class="input-group input-group-merge">
                            <span class="input-group-text"><i class="icon-base bx bx-envelope"></i></span>
                            <input type="text" id="basic-icon-default-email" name="basic-icon-default-email" class="form-control" placeholder="john.doe" aria-label="john.doe" aria-describedby="basic-icon-default-email2" />
                            <span id="basic-icon-default-email2" class="input-group-text">&#64;example.com</span>
                        </div>
                        <div class="form-text">Harf, rakam ve nokta kullanabilirsiniz.</div>
                    </div>
                    <div class="mb-6">
                        <label class="form-label" for="basic-icon-default-phone">Telefon Numarası</label>
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-phone2" class="input-group-text"><i class="icon-base bx bx-phone"></i></span>
                            <input type="text" id="basic-icon-default-phone" name="basic-icon-default-phone" class="form-control phone-mask" placeholder="658 799 8941" aria-label="658 799 8941" aria-describedby="basic-icon-default-phone2" />
                        </div>
                    </div>
                    <div class="mb-6">
                        <label class="form-label" for="basic-icon-default-message">Mesaj</label>
                        <div class="input-group input-group-merge">
                            <span id="basic-icon-default-message2" class="input-group-text"><i class="icon-base bx bx-comment"></i></span>
                            <textarea id="basic-icon-default-message" name="basic-icon-default-message" class="form-control" placeholder="Merhaba, konuşmak için bir dakikan var mı Joe?" aria-label="Merhaba, konuşmak için bir dakikan var mı Joe?" aria-describedby="basic-icon-default-message2"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Gönder</button>
                </form>
            </div>
        </div>
    </div>
</div>
