@{
    ViewData["Title"] = "Hesap Ayarları - Bildirimler";
}

@* ************** Content ************** *@
<div class="row">
    <div class="col-md-12">
        <div class="nav-align-top">
            <ul class="nav nav-pills flex-column flex-md-row mb-6 gap-md-0 gap-2">
                <li class="nav-item">
                    <a class="nav-link" href="AccountSettings">
                        <i class="icon-base bx bx-user icon-sm me-1_5"></i> Hesap
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="javascript:void(0);">
                        <i class="icon-base bx bx-bell icon-sm me-1_5"></i> Bildirimler
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="AccountSettingsConnections">
                        <i class="icon-base bx bx-link-alt icon-sm me-1_5"></i> Bağlantılar
                    </a>
                </li>
            </ul>
        </div>

        <div class="card">
            <!-- Notifications -->
            <div class="card-body">
                <h5 class="mb-1">Bildirim Tercihleri</h5>
                <span class="card-subtitle">
                    Tarayıcınızdan bildirim gösterebilmemiz için izninize ihtiyacımız var.
                    <span class="notificationRequest">
                        <span class="text-primary">Bildirim izni iste</span>
                    </span>
                </span>
                <div class="error"></div>
            </div>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-nowrap">Tür</th>
                            <th class="text-nowrap text-center">E-posta</th>
                            <th class="text-nowrap text-center">Tarayıcı</th>
                            <th class="text-nowrap text-center">Uygulama</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-nowrap text-heading">Sizin için yeni</td>
                            <td>
                                <div class="form-check mb-0 d-flex justify-content-center align-items-center">
                                    <input class="form-check-input" type="checkbox" id="defaultCheck1" checked />
                                </div>
                            </td>
                            <td>
                                <div class="form-check mb-0 d-flex justify-content-center align-items-center">
                                    <input class="form-check-input" type="checkbox" id="defaultCheck2" checked />
                                </div>
                            </td>
                            <td>
                                <div class="form-check mb-0 d-flex justify-content-center align-items-center">
                                    <input class="form-check-input" type="checkbox" id="defaultCheck3" checked />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-nowrap text-heading">Hesap etkinliği</td>
                            <td>
                                <div class="form-check mb-0 d-flex justify-content-center align-items-center">
                                    <input class="form-check-input" type="checkbox" id="defaultCheck4" checked />
                                </div>
                            </td>
                            <td>
                                <div class="form-check mb-0 d-flex justify-content-center align-items-center">
                                    <input class="form-check-input" type="checkbox" id="defaultCheck5" checked />
                                </div>
                            </td>
                            <td>
                                <div class="form-check mb-0 d-flex justify-content-center align-items-center">
                                    <input class="form-check-input" type="checkbox" id="defaultCheck6" checked />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-nowrap text-heading">Yeni bir tarayıcı ile giriş yapıldığında</td>
                            <td>
                                <div class="form-check mb-0 d-flex justify-content-center align-items-center">
                                    <input class="form-check-input" type="checkbox" id="defaultCheck7" checked />
                                </div>
                            </td>
                            <td>
                                <div class="form-check mb-0 d-flex justify-content-center align-items-center">
                                    <input class="form-check-input" type="checkbox" id="defaultCheck8" checked />
                                </div>
                            </td>
                            <td>
                                <div class="form-check mb-0 d-flex justify-content-center align-items-center">
                                    <input class="form-check-input" type="checkbox" id="defaultCheck9" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-nowrap text-heading">Yeni bir cihaz bağlandığında</td>
                            <td>
                                <div class="form-check mb-0 d-flex justify-content-center align-items-center">
                                    <input class="form-check-input" type="checkbox" id="defaultCheck10" checked />
                                </div>
                            </td>
                            <td>
                                <div class="form-check mb-0 d-flex justify-content-center align-items-center">
                                    <input class="form-check-input" type="checkbox" id="defaultCheck11" />
                                </div>
                            </td>
                            <td>
                                <div class="form-check mb-0 d-flex justify-content-center align-items-center">
                                    <input class="form-check-input" type="checkbox" id="defaultCheck12" />
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="card-body">
                <h6 class="text-body mb-6">Size ne zaman bildirim gönderelim?</h6>
                <form action="javascript:void(0);">
                    <div class="row">
                        <div class="col-sm-6">
                            <select id="sendNotification" class="form-select" name="sendNotification">
                                <option selected>Sadece çevrimiçiyken</option>
                                <option>Her zaman</option>
                            </select>
                        </div>
                        <div class="mt-6">
                            <button type="submit" class="btn btn-primary me-3">Değişiklikleri Kaydet</button>
                            <button type="reset" class="btn btn-outline-secondary">İptal</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /Notifications -->
        </div>
    </div>
</div>
