@{
    Layout = "_BlankLayout";
    ViewData["Title"] = "Bakım Modu - PazarCep";
}

@section PageStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/page-misc.css" />
}

<!-- Under Maintenance -->
<div class="container-xxl container-p-y">
    <div class="misc-wrapper">
        <h3 class="mb-2 mx-2">Sistem Bakımda! 🚧</h3>
        <p class="mb-6 mx-2">
            Şu anda PazarCep üzerinde iyileştirmeler yapıyoruz. En kısa sürede yeniden hizmetinizde olacağız.
            Anlayışınız için teşekkür ederiz.
        </p>
        <a href="/" class="btn btn-primary">Ana sayfaya dön</a>

        <div class="mt-6">
            <img src="~/img/illustrations/girl-doing-yoga-light.png"
                 alt="Bakım Görseli"
                 width="500"
                 class="img-fluid" />
        </div>
    </div>
</div>
<!-- /Under Maintenance -->
