@page
@model PrivacyModel
@{
    ViewData["Title"] = "Gizlilik Politikası";
}
<h1>@ViewData["Title"]</h1>

<p>Sitenin gizlilik politikasını ayrıntılı olarak açıklamak için bu sayfayı kullanılır!!</p>
