@{
    ViewData["Title"] = "Sipariş Detayı";
}
<h4 class="mb-3">Sipariş Detayı</h4>
<div class="card">
    <div class="card-body">
        Sipariş Id: <strong>@ViewBag.SiparisId</strong>
    </div>
</div>
